
<footer>
  Made with love by Paul BINOT
  <p>Data from <a href="https://github.com/janaipakos/ghibliapi">this github repo</a> (under MIT licence)</p>
</footer>
<script src="/js/minutesToHHMM.js"></script>
</body>
</html>