<div class="search-container">
  <div class="search">
    <form method="GET" action="/">
      <input type="text" name="q" placeholder="Search a film">
      <button>Search</button>
    </form>
  </div>
</div>