body {
  font-family: 'montserrat', sans-serif;
  font-weight: 450;
  font-size: 1rem;
  color: white;
  background-color: rgb(11, 11, 11);
  line-height: 1.3;
}

h1 {
  font-family: 'trispace', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

img {
  max-width: 100%;
}

button {
  text-transform: uppercase;
  padding: 0.5rem;
  margin-top: 0.4rem;
  font-family: 'trispace', sans-serif;
  font-weight: 600;
  border: 2px solid rgb(255, 99, 91);
  background-color: rgba(255, 255, 255, 0.071);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(255, 99, 91);
}

a {
  text-decoration: none;
}

/* ----------HEADER---------- */
header {
  padding: 1.5rem;
  text-align: center;
}

header span {
  color: rgb(255, 99, 91);
}

/* ----------MENU---------- */
.menu-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.4rem;
}

.menu-container {
  position: sticky;
  top: 1rem;
}

.menu {
  margin-top: 1rem;
}

.menu li {
  padding: 0.5rem 0 0.5rem 0.7rem;
  transition: transform 0.2s ease-in-out;
  
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.108);
  transform: translateX(20px);
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover {
  color: rgb(255, 99, 91);
}

.menu span {
  visibility: hidden;
}

.menu li:hover span {
  visibility: visible;
}

/* ----------HOME---------- */
.page-container {
  display: flex;
  max-width: 1300px;
  margin: auto;
}

.left, .right {
  padding: 2rem;
}

.left {
  min-width: 20%;
}

.films-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.film {
  width: 12rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(56, 56, 56);
  padding: 0.5rem;
  gap: 0.2rem;
  font-family: 'trispace', sans-serif;
  color: grey;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.film:hover {
  border-color: rgba(255, 99, 91, 0.636);
  background-color: rgba(255, 255, 255, 0.065);
}

.films-grid a {
  text-decoration: none;
}

.film h2 {
  font-size: 1.4rem;
  color: white;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  padding: 0.5rem 0;
}

.film .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.film .infos button {
  width: 100%;
}


/* ----------FILM PAGE---------- */

.film-page .right {
  position: relative;
}

.banner {
  width: 100%;
  position: relative;
  z-index: -1;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(11,11,11);
  background: linear-gradient(0deg, rgba(11,11,11,1) 1%, rgba(11,11,11,0) 100%);
}

.banner img {
  width: 100%;
}

.film-infos  {
  display: flex;
  font-size: 1.2rem;
  margin-top: -10rem;
}

.film-infos__right {
  width: 40%;
  padding: 2rem;
}

.film-infos__left {
  width: 60%;
  padding: 2rem;
}

.film-infos img {
  width: 100%;
  border: 4px solid white;
}

.film-infos__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.film-infos h2 {
  font-size: 4rem;
  font-family: 'trispace', sans-serif;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(255, 99, 91);
}

.film-infos-full {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'trispace';
}

.film-infos-full span {
  color: rgb(149, 149, 149);
}

/* ----------404---------- */
.page404 {
  width: 100%;
}
.page404 img {
  width: 100%;
}

.page404 h2 {
  font-size: 30rem;
  font-family: 'trispace', sans-serif;
  color: rgba(255, 99, 91, 0.487);
  font-weight: 800;
}

.page404 h3 {
  font-weight: 600;
  font-family: 'trispace', sans-serif;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.content-404 {
  margin-top: -20rem;
}

/* ----------FOOTER---------- */
footer {
  text-align: center;
  color: grey;
  font-family: 'trispace', sans-serif;
  font-weight: 600;
  padding: 1rem 1rem 2rem 1rem;
}

footer p {
  font-size: 0.7rem;
}

footer p a {
  color: grey;
  text-decoration: underline;
}



@font-face {
  font-family: "trispace";
  src: url('../fonts/Trispace-VariableFont.ttf') format("truetype-variations");
  font-weight: 100 700;
}@font-face {
  font-family: "montserrat";
  src: url('../fonts/Montserrat-VariableFont.ttf') format("truetype-variations");
  font-weight: 100 700;
}@font-face {
  font-family: "montserrat italic";
  src: url('../fonts/Montserrat-Italic-VariableFont.ttf') format("truetype-variations");
  font-weight: 100 700;
}