<%- include("partials/header.ejs", {title: "404 error"}) %>
<main class="page-container">
  <div class="left">
    <%- include("partials/menu.ejs") %>
  </div>
  <div class="right page404">
    <%- include("partials/search.ejs") %>
    <h2>404</h2>
    <div class="content-404">
      <h3>404 error : page not found ...</h3>
      <img src="/images/404-totora.gif" alt="Erreur 404 totoro">
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>